* {
  box-sizing: border-box;
}

.hhgttg {
  text-align: center;
}

.hhgttg__logo {
  height: 40vmin;
  pointer-events: none;
}

.hhgttg__header {
  /* min-height: 100vh; */
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
  justify-content: center;
}


.hhgttg__text {
  background-color: black;
  border: 2px solid transparent;
  color: #adff2f;
  cursor: pointer;
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  padding: 1em;
  text-align: left;
}

.hhgttg__input {
  background-color: black;
  border: 2px solid greenyellow;
  color: greenyellow;
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  padding: 1em;
  text-align: left;
}

.hhgttg__icon-wrapper {
  border: 2px dotted greenyellow;
  display: flex;
  width: 300px;
  margin: 0 auto;
  padding: 0.5em
}

.hhgttg__icon {
  margin-top: 15px;
  width: 24px;
  height: 25px;
}

.hhgttg__icon--error {
  fill: lightcoral;
}

.hhgttg__icon--success {
  fill: green;
}

.hhgttg__error {
  color: lightcoral;
  font-weight: bold;
}

.hhgttg__success-img {
  width: 250px;
  margin: 1em;
}

.hhgttg__success {
  color: greenyellow;
}